Redirect 301 /sponsor http://mchacks.io/sponsors2018.pdf
Redirect 301 /apply http://mchacks.io/apply.html
Redirect 301 /conduct http://mchacks.io/conduct.html
Redirect 301 /schedule http://mchacks.io/schedule.html
Redirect 301 /info http://mchacks.io/hacker-info.html